@{
    ViewBag.Title = "Home Page";
}




<div class="row col-md-12">

    <h1>Consult Address </h1>

    <div class="div_PostalCode" @*style="margin-top:30px"*@>
        <input type="text" id="PostalCode" class="form-group-sm form-control" @*style=""*@ placeholder="Postal Code" />
        <p><a id="btnConsult" class="btn btn-success" @*style="margin-top: 0px"*@>Consult Your Address</a></p>
        <p><a id="btnClean" class="btn btn-danger" @*style="margin-right: 5px "*@>Clean</a></p>
    </div>

    <div class="card">
        <form method="get" action=".">
            <label>
                CEP:
                <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" />
            </label><br />
            <label>
                Street:
                <input name="rua" type="text" id="rua" size="60" />
            </label><br />
            <label>
                District:
                <input name="bairro" type="text" id="bairro" size="40" />
            </label><br />
            <label>
                City:
                <input name="cidade" type="text" id="cidade" size="40" />
            </label><br />
            <label>
                State:
                <input name="uf" type="text" id="uf" size="2" />
            </label><br />
            <label>
                IBGE:
                <input name="ibge" type="text" id="ibge" size="8" />
            </label><br />
        </form>
    </div>
</div>
