body{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.div_PostalCode {
    margin-right: 5px;
    margin-top: 30px
}
#btnDark {
    background-color: darkblue;
    position: absolute;
    top: 0%;
    left: 80%
}
#btnDefault {
    background-color: mediumblue;
    position: absolute;
    top: 0%;
    left: 90%
}

#btnConsult {
    margin-top: 10px;
    text-align: right;
}

.input_PostalCode {
    display: flex;
    color: white;
    font-family: 'Franklin Gothic';
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card {
    margin-top: auto;
    background-color: cornflowerblue;
    height: 400px;
    width: 370px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
}